h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}
.product__photo {
  margin: auto 0px;
}
.product__photo > img {
  height: 600px;
  width: 600px;
  border-radius: 20px;
}

img {
  filter: drop-shadow(6px 3px 7px #a6a6a6);
}
.align__images {
  display: flex;
  list-style-type: none;
}

.product {
  margin: 30px 50px;
  padding: 2.5em 0;
  min-width: 500px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.product__info {
  padding: 0.8em 0;
}

.title > span {
  font-size: 0.7em;
  color: #a6a6a6;
}
.title > h1 {
  margin-bottom: 0.1em;
  color: "#4c4c4c";
  font-size: 1.5em;
  font-weight: 900;
}

.price {
  margin: 1.5em 0;
  color: #ff3f40;
  font-size: 1.2em;
}
.price > span {
  padding-left: 0.15em;
  font-size: 2.9em;
}

.variant > h3 {
  margin-bottom: 1.1em;
}
.variant > li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.description {
  clear: left;
  margin: 2em 0;
}
.description > h3 {
  margin-bottom: 1em;
}
.description > ul {
  font-size: 0.8em;
  list-style: disc;
  margin-left: 1em;
}
.description > li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}

.add__cart {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
